/* Login / Register Image Background */
.background-img{
    background-image: url('pic/background.jpeg'); /* กำหนด URL ของรูปภาพ */
    background-size: cover; /* กำหนดให้รูปภาพขยายและปรับขนาดให้เต็มพื้นที่ */
    background-position: center; /* กำหนดตำแหน่งของรูปภาพที่จะแสดงตรงกลาง */
    height: 100vh; /* กำหนดความสูงของพื้นหลังให้เต็มหน้าจอ */
    margin: 0; /* กำหนดให้ไม่มีช่องว่างรอบขอบของเอกสาร */
    display: flex; /* กำหนดให้ข้อความอยู่ตรงกลาง */
    justify-content: center; /* จัดตำแหน่งให้ข้อความตรงกลางแนวนอน */
    align-items: center; /* จัดตำแหน่งให้ข้อความตรงกลางแนวตั้ง */
}

/* Main Home Page CSS Code*/
.custom-search-bar {
    width: 500px; /* กำหนดความยาวของ Search bar */
    padding-left: 20px; /* กำหนดระยะห่างระหว่างตัวหนังสือและขอบของ Search bar (ข้างใน Search bar)*/
}

.light-green {
    background-color: #DCF3DE;
}

/* Font Style*/
.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}
  