<%- include('header') %>
    <%- include('navbar') %>
        <div class="container mt-5">
            <form method="post">
                <div class="card shadow">
                    <div class="card-body fs-5 ">
                        <div class="">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" name="name_tag" value="<%= groupBook.name_tag %>"
                                required>
                        </div>
                        <div class="text-end ">
                            <a type="button" class="btn btn-md btn-neutral mt-3 me-2" href="/groupBook">Cancel</a>
                            <button type="submit" class="btn btn-md btn-primary mt-3 "
                                onclick="return confirm('Confirm ?')">Save</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <%- include('footer') %>