<%- include('header') %>

    <body id="background-img">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 50%; margin-left: 30px;">
            <div class="card-body">
                <div class="text-center">
                    <h2 class="text-success">Forgot Your Password ?</h2>
                </div>
                <form method="post" action="/forgotPassword" style="margin-top: 20px;">
                    <div class="form-group">

                        <label class="text-success">Username</label>
                        <input type="text" name="usr" class="form-control rounded-pill padding-left"
                            style="margin-top: 10px;" placeholder="Enter Username" required>
                    </div>
                    <%- include('normalms') %>
                        <button type="submit" class="btn btn-outline-success rounded-pill"
                            style="width: 100%; margin-top: 20px;">Submit</button>
                </form>
            </div>


        </div>


        <%- include('footerindex') %> 