<%- include('header') %>

  <body id="background-img">
    <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 28%; margin-left: 30px;">
      <div class="card-body">
        <div class="text-center">
          <h2 class="text-success">Welcome to our Library System</h2>
        </div>
        <div class="text-center mt-4">
          <a href="/login">
            <button class="center btn btn-success btn-lg">Go to Login Page</button>
          </a>
        </div>
      </div>
    </div>
    <%- include('footerindex') %>