<%- include('header') %>

<body id="background-img" >
  <div class="container my-auto">
      <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 100%; margin-left: 30px; margin-bottom: 50px;">
      <div class="card-body">
        <div class="text-center">
          <h2 title="login">LOG IN</h2>
          <h4>Have an Account?</h4>
        </div>
        <form method="post" action="/login" style="margin-top: 20px;">
          <div class="form-group">
            <label class="text-success">Username</label>
            <input type="text" name="usr" class="form-control rounded-pill padding-left" style="margin-top: 10px;"
              placeholder="Enter Username" required>
          </div>
          <div class="form-group" style="margin-top: 20px;">
            <label class="text-success">Password</label>
            <input type="password" name="pwd" class="form-control rounded-pill padding-left" style="margin-top: 10px;"
              placeholder="Password" required>
          </div>
          <div class="mt-3 ps-2">
            <a href="/forgotPassword">Forgot Password?</a>
          </div>
          <%- include('normalms') %>
          <button type="submit" class="btn btn-outline-success rounded-pill" style="width: 100%; margin-top: 20px;">Log-in</button>
        </form>
        <div class="text-center" style="margin-top: 5px;"> - or - </div>
        <a href="/register" type="register" class="btn btn-outline-secondary rounded-pill" style="width: 100%; margin-top: 5px;">Sign-up</a>
      </div>
    </div>
  </div>
    
    <%- include('footerindex') %> 