<%- include('header') %>

    <body id="background-img">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 50%; margin-left: 30px;">
            <div class="card-body">
                <div class="text-center">
                    <h2 class="text-success">Password Reset Link</h2>
                </div>
                <form method="post" action="javascript:void(0);" style="margin-top: 20px;">
                    <div class="form-group">
                        <!-- Change to Username ;; Status : Waiting for Edit -->
                        <label class="text-success" for="exampleInputUsername">Copy the following link to reset your
                            password:</label>
                        <p>
                            <a href="/passwordReset/<%= token %>">
                                Password Reset Link
                            </a>
                        </p>
                    </div>
                </form>
            </div>


        </div>
        </div>

        <%- include('footerindex') %> 