<%- include('header') %>

    <body id="background-img">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 50%; margin-left: 30px;">
            <div class="card-body">
                <div class="text-center">
                    <h2 class="text-success">Password Reset Link</h2>
                </div>
                <form method="post" action="/passwordReset/<%= token %>" style="margin-top: 20px;">
                    <div class="form-group">
                        <!-- Change to Username ;; Status : Waiting for Edit -->
                        <label class="text-success">New Password:</label>
                        <input type="text" name="pwd" class="form-control rounded-pill padding-left"
                            style="margin-top: 10px;" placeholder="Enter your new password.." required>
                    </div>
                    <button type="submit" class="btn btn-outline-success rounded-pill"
                        style="width: 100%; margin-top: 20px;">Submit</button>
                </form>
            </div>


        </div>
        </div>

        <%- include('footerindex') %> 