<%- include('header') %>

    <body id="background-img">
        <div class="justify-content-center card shadow-lg p-3 mb-5 bg-body rounded" style="width: 50%; margin-left: 30px;">
            <div class="card-body">
                <div class="text-center">
                    <h2 >REGISTER</h2>
                    <h4>Don't have an Account?</h4>
                </div>
                    <form method="post" action="/register" style="margin-top: 20px;">
                        <div class="form-group">
                            <label class="text-success">Full Name</label>
                            <input type="text" name="name" class="form-control rounded-pill padding-left"
                                style="margin-top: 10px;" placeholder="Enter Your Name" required 
                                pattern="[A-Za-z\s]+" title="Full name should only contain letters and spaces.">
                        </div>

                        <div class="form-group" style="margin-top: 20px;">
                            <label class="text-success">Username</label>
                            <input type="text" id="username" name="usr" class="form-control rounded-pill padding-left"
                                style="margin-top: 10px;" placeholder="Enter Username" required 
                                pattern="[A-Za-z0-9_]{5,15}" title="Username should be 5-15 characters long and contain only letters(A-Za-z), numbers(0-9), or underscores(_).">
                                <div class="ms-2 mt-2" id="username-feedback"></div>
                        </div>

                        <div class="form-group" style="margin-top: 20px;">
                            <label class="text-success">Password</label>
                            <input type="password" name="pwd" class="form-control rounded-pill padding-left"
                                style="margin-top: 10px;" placeholder="Password" required 
                                pattern=".{8,}" title="Password should be at least 8 characters long.">
                        </div>

                        <div class="form-group" style="margin-top: 20px;">
                            <label class="text-success">Phone</label>
                            <input type="text" name="phone" class="form-control rounded-pill padding-left"
                                style="margin-top: 10px;" placeholder="ex.092-000-0000" required 
                                pattern="\d{3}-\d{3}-\d{4}" title="Phone number should match the format: xxx-xxx-xxxx."
                                oninput="formatPhone(this)">
                        </div>

                        <div class="form-group" style="margin-top: 20px;">
                            <label class="text-success">Citizen ID</label>
                            <input type="text" name="citizencard" class="form-control rounded-pill padding-left"
                                style="margin-top: 10px;" placeholder="x-xxxx-xxxxx-xx-x" required 
                                pattern="\d-\d{4}-\d{5}-\d{2}-\d" title="Citizen ID should match the format: x-xxxx-xxxxx-xx-x."
                                oninput="formatCitizenID(this)">
                        </div>
                        <div class="form-group" style="margin-top: 20px;">
                            <label class="text-success">Address</label>
                            <input type="text" name="address" class="form-control rounded-pill padding-left"
                                style="margin-top: 10px;" placeholder="..House number City Zipcode" required>
                        </div>

                        <%- include('normalms') %>
                        <input type="hidden" name="level" value="user" />
                        <button type="submit" class="btn btn-outline-success rounded-pill"
                            style="width: 100%; margin-top: 20px;">Sign-up</button> 
                            
                    </form>
                <div class="text-center" style="margin-top: 5px;"> - or - </div>
                <a href="/login" type="login" class="btn btn-outline-secondary rounded-pill"
                    style="width: 100%; margin-top: 5px;">Log-In</a>
            </div>
        </div>
<script>
  // ฟังก์ชันสำหรับตรวจสอบข้อมูลที่กรอกในฟอร์มโทรศัพท์
  function formatPhone(input) {
    const value = input.value.replace(/\D/g, '');  // ลบทุกอย่างที่ไม่ใช่ตัวเลขออกจากข้อความ
    let formatted = ''; // สร้างตัวแปรสำหรับเก็บข้อความที่จะจัดรูปแบบ
    
    if (value.length > 3) { // ถ้าความยาวของข้อความมากกว่า 3 ตัวอักษร และเพิ่ม - หลังจากตัวเลขที่ 3
      formatted += value.substring(0, 3) + '-';
    } else {
      formatted += value;
    }
    
    if (value.length > 6) { // ถ้าความยาวของข้อความมากกว่า 6 ตัวอักษร และเพิ่ม - หลังจากตัวเลขที่ 6
      formatted += value.substring(3, 6) + '-';
      formatted += value.substring(6, 10);
    } else if (value.length > 3) { // ถ้าความยาวของข้อความมากกว่า 3 ตัวอักษร และเพิ่ม - หลังจากตัวเลขที่ 3
      formatted += value.substring(3);
    }
    
    input.value = formatted;// รวมค่าที่จัดรูปแบบกลับเข้าไปใน input
  }
function formatCitizenID(input) { // ฟังก์ชันสำหรับตรวจสอบข้อมูลที่กรอกในฟอร์มเลขบัตรประชาชน
    const value = input.value.replace(/\D/g, ''); // ลบทุกอย่างที่ไม่ใช่ตัวเลขออกจากข้อความ
    let formatted = ''; 
    if (value.length > 0) { // ถ้าความยาวของข้อความมากกว่า 0 ตัวอักษร และเพิ่ม - หลังจากตัวเลขที่ 0
        formatted += value.substring(0, 1); 
    }
    if (value.length > 1) { // ถ้าความยาวของข้อความมากกว่า 1 ตัวอักษร และเพิ่ม - หลังจากตัวเลขที่ 1
        formatted += '-' + value.substring(1, 5); //
    }
    if (value.length > 5) { // ถ้าความยาวของข้อความมากกว่า 5 ตัวอักษร และเพิ่ม - หลังจากตัวเลขที่ 5
        formatted += '-' + value.substring(5, 10); 
    }
    if (value.length > 10) { // ถ้าความยาวของข้อความมากกว่า 10 ตัวอักษร และเพิ่ม - หลังจากตัวเลขที่ 10
        formatted += '-' + value.substring(10, 12); 
    }
    if (value.length > 12) { // ถ้าความยาวของข้อความมากกว่า 12 ตัวอักษร และเพิ่ม - หลังจากตัวเลขที่ 12
        formatted += '-' + value.substring(12, 13); 
    }

    input.value = formatted;
}

</script>
<script>
  // ฟังก์ชันสำหรับตรวจสอบข้อมูลที่กรอกในฟอร์มโดยใช้ AJAX
  document.addEventListener('DOMContentLoaded', function() { 
    const usernameInput = document.querySelector('#username');// เข้าถึง element id ที่มีชื่อว่า username
    const feedbackElement = document.querySelector('#username-feedback'); // เข้าถึง element id ที่มีชื่อว่า username-feedback

    usernameInput.addEventListener('input', function() {
      const username = usernameInput.value;

      if (username.length > 2) {  
        // ส่ง request ไปที่ path /check-username พร้อมกับส่งข้อมูล username โดยencode ด้วย encodeURIComponent เพื่อป้องกันการใส่ข้อความที่อาจจะทำให้เกิดปัญหาในการส่ง request
        fetch(`/check-username?usr=${encodeURIComponent(username)}`)
        // รับ response และแปลงข้อมูลใน response ให้เป็น JSON
          .then(response => response.json())
          .then(data => {
            // ตรวจสอบค่าใน data ว่ามีค่า available หรือไม่ ถ้ามีให้แสดงข้อความว่า Username available! ถ้าไม่ให้แสดงข้อความว่า Username already taken!
            if (data.available) {
              feedbackElement.textContent = 'Username available!';
              feedbackElement.style.color = 'green';
            } else {
              feedbackElement.textContent = 'Username already taken!';
              feedbackElement.style.color = 'red';
            }
          })
          .catch(error => { // ถ้าเกิดข้อผิดพลาดในการส่ง request หรือรับ response ให้แสดงข้อความว่า Error checking username
            feedbackElement.textContent = 'Error checking username';
            feedbackElement.style.color = 'orange';
          });
      } else {
        feedbackElement.textContent = '';  // ถ้าความยาวของ username น้อยกว่า 2 ตัวอักษร ให้ลบข้อความที่แสดงออก
      }
    });
  });
</script>

<!-- ถ้าเป็น Xhtml  
  const xhr = new XMLHttpRequest();  

  <xhr.onreadystatechange = function() { 
  if(xhr.readyState === 4 && xhr.status === 200) { 
   const data = JSON.parse(xhr.responseText); 

   โค๊ดปรับ textcontent ต่างๆ if(data.available) 
    else if (xhr.readyState === 4)
            โค๊ดปรับ textcontent ต่างๆ 
          } ปิดของ xhr.readystate
    } ปิดของ xhr.onreadystatechange function()
    xhr.open("GET", `/check-username?usr=${encodeURIComponent(username)}`, true);
    xhr.send();
        }; 
-->

        <%- include('footerindex') %> 

